body{
	background-color: lightgoldenrodyellow;
}
h1{
	font-size: 50px;
	color: #666600;
}
h2{
	color: darkslateblue;
	font-size: 23px;
}

.big {
	font-size: 70px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: orange;
}
h1 span{
	color: purple;
}